* {
    margin: 0;
    padding: 0;
}

body {
    background: #40ff90;
}

.title {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5ch;
    
}

.font {
    font-family: 'Open Sans',
        sans-serif;
}


.row {
    margin-top: 25px;
}

.col1,
.col2 {
    background: #ffffff;
    margin-right: auto;
    padding: 5px;
    height: 400px;
    text-align: center;
    border-radius: 5px;
}

.form{
    margin-top: 50px;
}

.imp1 input, .imp2 input, .imp3 input {
    padding: 5px;
    margin: 25px;
    border: 1px #000000 solid;
    border-radius: 3px; 
    font-family: 'Open Sans',
    sans-serif;
}

input{
    width: 200px;
    height: 15px;
}

.col1{
    width: 495px;
}
.col2{
    position: relative;
    bottom: 410px;
    left: 510px;
    width: 825px;
}

.contacts {
    width: 200px;
    height: 25px;
}

.contacts:hover {
    border: 1px #40ff90 solid;
}

.info-contact{
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
    overflow: scroll;
    overflow: auto;
    height: 250px;
    overflow-x:hidden;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px;
    align-items: center;
}
thead{
    background: #40ff90;
    color: #000000;
}

tbody tr td{
    text-align: start;
    font-size: 11.6px;
}

.btn-enviar {
    margin-top: 15px;
    border: 1px #000000 solid;
    border-radius: 3px;
    width: 400px;
    height: 30px;
    color: #000000;
    background: #40ff90;
}

.btn-enviar:hover {
    cursor: pointer;
    border: 1px #40ff90 solid;
    background: #40ff90;
} 

.btn-actualizar {
    margin-top: 15px;
    border: 1px #000000 solid;
    border-radius: 3px;
    width: 400px;
    height: 30px;
    color: #000000;
    background: #40ff90;
}

.btn-actualizar:hover {
    cursor: pointer;
    border: 1px #40ff90 solid;
    background: #40ff90;
} 